body {
  background-color:rgb(179, 200, 207);

}
.form-container {
  /* max-width:400px; */
  /* center form */
  margin:auto;
  background-color: white;
  border-radius:15px;
}

.btn {
/* Syntax for bootstrap */
}

.header{
 
}

.link {
  text-decoration:none;
}
.navbar {
  background-color:rgb(74, 97, 104);
}